
@media screen and (max-width: 1199px) {
  /*--------------header------------------*/
  header {
    background: #333;
  }
  /*--------------seccion2----------------*/
  .seccion2 .img-overlay {
    height: 82%;
  }
}
@media screen and (max-width: 1024px) {
  /*--------------seccion1-area----------------*/
  .seccion1-overlay {
    display: none;
  }
  /*--------------contact----------------*/
  .contact-form-area {
    padding: 36px 40px;
  }
}
@media screen and (min-width: 1024px) {
  /*--------------seccion1 area----------------*/
  .seccion1-text h1,
  .seccion1-text #typed,
  .seccion1-text .typed-cursor {
    font-size: 56px;
  }
}

@media screen and (max-width: 991px) {
  /*--------------header----------------*/
  header #header-info-bar {
    width: 40% !important;
    left: 60% !important;
  }
  /*------padding--------*/
  .padding-style1 {
    padding: 70px 0;
  }
  /*--------------seccion2----------------*/
  .seccion2-content {
    margin-top: 76px;
  }
  .seccion2 .img-overlay {
    height: 101%;
  }
  .seccion2 .progressbar-area {
    margin-bottom: 70px;
  }
  .seccion2-img {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
    max-width: 60%;
  }
  /*--------------seccion5----------------*/
  .seccion5-item:hover .overlay-content-item {
    transform: translateY(0%);
  }
  /*--------------seccion8----------------*/
  .seccion8-single-item.seccion8-item-margin {
    margin-bottom: 50px;
  }
  .seccion8-single-item .seccion8-text a {
    margin-top: 8px;
  }
  .seccion8-text {
    margin-top: 32px;
  }
  .seccion8-img.right::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    left: 48%;
    top: 0px;
  }
  .seccion8-img.left::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    left: 48%;
    bottom: 0px;
    border-color: transparent transparent #ffffff transparent;
    border-width: 0 14px 14px 14px;
  }
  /*--------------contact----------------*/
  .contact-detail p {
    margin-bottom: 18px;
  }

  .contact-detail {
    margin-bottom: 50px;
  }
  .contact textarea {
    margin-top: 18px;
  }
}
@media screen and (min-width: 992px) {
  /*--------------header----------------*/
  #header-info-btn {
    margin-right: 17px;
  }
  /*--------------seccion8----------------*/
  .seccion8-img.left::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 0px;
    top: 46%;
  }
  .seccion8-img img {
    transition: all 0.5s;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  /*--------------seccion2----------------*/
  .img-hover {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 75%;
    height: 82%;
    top: 9px;
    z-index: 2;
    left: 9px;
    transform: scale(0);
    transition: all 0.5s;
    margin: auto;
    display: block;
  }
}
@media only screen and (max-width: 991px) and (min-width: 576px) {
  /*--------------pagepile----------------*/
  .seccion5-item:hover .overlay-content-item {
    transform: translateY(10%);
  }
}
@media only screen and (max-width: 1320px) and (min-width: 1200px) {
  /*--------------pagepile----------------*/
  #pp-nav.right {
    right: -30px;
  }
}
@media only screen and (max-width: 1120px) and (min-width: 992px) {
  /*--------------pagepile----------------*/
  #pp-nav.right {
    right: -40px;
  }
  /*--------------title small----------------*/
  .title-small {
    left: -120px;
  }
}
@media only screen and (max-width: 890px) and (min-width: 768px) {
  /*--------------pagepile----------------*/
  #pp-nav.right {
    right: -41px;
  }
  /*--------------title small----------------*/
  .title-small {
    left: -114px;
  }
}
@media only screen and (max-width: 708px) and (min-width: 576px) {
  /*--------------pagepile----------------*/
  #pp-nav.right {
    right: -41px;
  }
}
@media only screen and (max-width: 662px) and (min-width: 576px) {
  .title-small {
    left: -120px;
  }
}
@media only screen and (max-width: 1270px) and (min-width: 1200px) {
  /*--------------title small----------------*/
  .title-small {
    position: absolute;
    top: 50%;
    width: 280px;
    left: -124px;
  }
}
@media screen and (max-width: 600px) {
  /*--------------seccion2----------------*/
  .seccion2 .skills {
    max-width: 90%;
  }
  .seccion2-img {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /*--------------header----------------*/
  header #header-info-bar {
    width: 100% !important;
    left: 0% !important;
  }
  /*--------------seccion3----------------*/
  .seccion3 .item {
    margin-left: 10px;
    background: #fff;
    padding: 20px;
    margin-right: 10px;
  }
  .seccion3-header a {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  /*--------------seccion2---------------*/
  .seccion2-text {
    padding-right: 0px;
  }
  /*--------------seccion7----------------*/
  .seccion7-content {
    margin: 0px 20px;
  }
  /*--------------seccion6----------------*/
  .seccion6 .video-container {
    padding-bottom: 60px;
  }
  /*--------------experience----------------*/
  .experience {
    margin-top: 60px;
  }
  /*--------------seccion5----------------*/
  .seccion5-content-head ul li {
    padding-top: 10px;
  }
}
@media screen and (max-width: 575px) {
  /*--------------title small----------------*/
  .title-small {
    display: none;
  }
  /*--------------papepile----------------*/
  #pp-nav.right {
    right: -38px;
  }
  /*--------------seccion1 area----------------*/
  .seccion1-text {
    padding: 0px 20px;
  }
  .seccion1-area .overlayImg {
    position: absolute;
    width: 100%;
  }
  .seccion1-area #typed {
    line-height: 38px;
    font-size: 38px;
  }
  .seccion1-area .type-wrap {
    margin-bottom: 12px;
    margin-top: 50px;
    font-family: "Martel", serif;
  }
  .seccion1-text h1,
  .seccion1-text #typed,
  .seccion1-text .typed-cursor {
    font-size: 38px;
  }
  /*-----------------seccion2-------------------*/
  .seccion2-img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .seccion2-content {
    margin-top: 76px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .seccion2-img img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .seccion2 .img-overlay {
    height: 101%;
    display: none;
  }
  .img-hover {
    width: 85%;
    height: 95%;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }

  .seccion2-content {
    margin-top: 50px;
  }
  /*--------------seccion5----------------*/
  .seccion5-content-items {
    margin: 0px 7px;
  }
  /*--------------seccion6----------------*/
  .seccion6 .seccion6-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*--------------seccion7----------------*/
  .seccion7 #owl-demo-seccion7 .item {
    margin: 0 36px;
  }
  /*--------------seccion8---------------*/
  .seccion8-content {
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-content {
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 464px) {
  /*--------------seccion1-area----------------*/
  .seccion1-text h1 {
    font-size: 40px;
    margin-top: 58px;
  }
  .seccion1-area #typed {
    line-height: 64px;
  }
  .seccion1-text a {
    margin: 0px 5px;
    margin-bottom: 20px;
  }

  /*--------------seccion5----------------*/
  .magnify-icon p {
    top: 63%;
  }

  /*-------------seccion7----------------*/
  .seccion7 .seccion7-header {
    padding-bottom: 16px;
    width: 100vw;
  }
  .seccion7 .seccion7-header .section-title {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    font-family: "Martel", serif;
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  /*--------------seccion1-area----------------*/
  .seccion1-overlay {
    display: none;
  }
  /*--------------contact----------------*/
  .contact-form-area {
    padding: 36px 40px;
  }
}
@media screen and (min-width: 1024px) {
  /*--------------seccion1 area----------------*/
  .seccion1-text h1,
  .seccion1-text #typed,
  .seccion1-text .typed-cursor {
    font-size: 56px;
  }
}

@media screen and (max-width: 991px) {
  /*------padding--------*/
  .padding-style1 {
    padding: 70px 0;
  }
  /*--------------seccion5----------------*/
  .seccion5 .magnify-icon p {
    top: 50%;
  }

  /*--------------seccion8----------------*/
  .seccion8-single-item.seccion8-item-margin {
    margin-bottom: 50px;
  }
  .seccion8-single-item .seccion8-text a {
    margin-top: 8px;
  }
  /*--------------contact----------------*/
  .contact-detail p {
    margin-bottom: 18px;
  }

  .contact-detail {
    margin-bottom: 50px;
  }
  .contact textarea {
    margin-top: 18px;
  }
}

@media screen and (max-width: 600px) {
  /*--------------seccion2----------------*/
  .seccion2 .skills {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  /*--------------seccion3----------------*/
  .seccion3 .item {
    margin-left: 0px;
    background: #fff;
    padding: 20px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 464px) {
  /*--------------seccion1-area----------------*/
  .seccion1-text h1 {
    font-size: 40px;
    margin-top: 58px;
  }
  .seccion1-area #typed {
    line-height: 48px;
  }
  .seccion1-text a {
    margin: 0px 5px;
    margin-bottom: 20px;
  }
  /*--------------seccion5----------------*/
  .magnify-icon p {
    top: 63%;
  }
}
