@font-face {
font-family: 'martel';
src: url('../fonts/Martel-Regular.ttf');
}
body{
    font-family: 'martel';
}
header {
  background-color: rgba(255,255,255,0.3);
  padding: 25px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 101;
}

header #mainMenu {
  padding-top: 14px;
  padding-bottom: 14px;
}

header a .logo {
  display: inline-block;
  float: left;
}

header nav {
  float: right;
}

header nav ul li {
  display: block;
  margin-left: -2px;
}

header nav ul li:hover {
  background-color: rgba(0,0,0,0.3);
}

header nav ul li a {
  color: #333;
  transition: all 0.2s;
  padding: 0px 12px;
  display: block;
  margin-left: -3px;
  font-weight: 600;
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: left;
}

header nav ul li.active a {
  text-decoration: line-through;
}

header nav ul li.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
}

header nav ul li a:hover {
  color: #181818;
}

header .logo {
  display: inline-block;
}

header #header-info-bar {
  width: 25% !important;
  left: 75% !important;
  background: #fff !important;
  padding: 0px 20px;
  box-shadow: 3px 0px 10px 3px #000;
}

#header-info-bar .modal-content {
  border: none;
  position: initial;
}

#header-info-bar .close-animatedModal {
  padding: 14px;
  position: relative;
  cursor: pointer;
}

#header-info-bar .close-animatedModal i {
  position: absolute;
  right: 14px;
  font-size: 24px !important;
  color: #000;
  padding-top: 10px;
}

.header-info-bar-on {
  z-index: 27 !important;
}

.header-info-bar-off {
  visibility: hidden;
}

.header-info-bar-on {
  visibility: visible;
}

#header-info-btn {
  float: right;
  color: #fff;
  font-size: 20px;
  z-index: 3;
  position: relative;
  display: block;
  padding-top: 6px;
}

header .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
#header-info-btn span {
  width: 22px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  transition: all 0.3s;
}

#header-info-btn:hover .top,
#header-info-btn:hover .bottom {
  width: 12px;
}

header #seccion-superior {
  margin-top: 30px;
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 10px;
}

header .submit-btn {
  background: #000;
  color: #fff;
  padding: 8px 16px;
  margin: 0 auto;
  display: block;
  border: 1px solid #fff;
  float: left;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
}

header .submit-btn:hover {
  background: #484848;
}


/*-----------------------seccion1------------------*/

.seccion1-area .image-bg {
  position: relative;
  background-size: cover !important;
  background: url("../images/fondos/fondo1.jpg");
  /*background-color: #222;*/
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.seccion1-area .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 69px;
  top: 12px;
}

.seccion1-area .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 75px;
}

.seccion1-area .overlayImg {
  position: absolute;
  width: 50%;
  height: 100%;
  background: url("../images/overlayImg.png");
  top: 0;
  opacity: 0.2;
}

.seccion1-text {
  color: #fff;
  position: relative;
  z-index: 90;
}

.seccion1-text h1,
.seccion1-text #typed,
.seccion1-text .typed-cursor {
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  line-height: 52px;
}

.seccion1-text p {
  color: #fff;
  margin-bottom: 35px;
  max-width: 500px;
}

.seccion1-text #typed span {
  font-weight: 700;
}

.seccion1-area .type-wrap {
  margin-bottom: 35px;
  margin-top: 50px;
  font-family: "Martel", serif;
}

.seccion1-area #typed {
  white-space: normal;
}

.seccion1-text .social-icons a {
  color: #fff;
  font-size: 16px;
  padding: 0px 8px;
}

.seccion1-text .social-icons a:hover {
  color: #c2bfbf;
}
.seccion1-text .social-icons {
  margin-bottom: 50px;
}

.seccion1-text a {
  margin: 0px 5px;
}

/*---------------------seccion2-------------------*/

.imgBg #seccion2 {
    /*background: url(../images/seccion2Bg.jpg);
    background-size: cover;*/
    background-color: #060818;
    box-shadow: inset 0 0 0 2000px rgba(0, 51, 56, 0);
}

.vantaBg #seccion2 {
  background: #474747;
}

.s2{
  background-color: #fff;
  padding: 10px;
  color: #000;
  min-height: 450px;
}

.img-hover {
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 75%;
  height: 95%;
  top: 12px;
  z-index: 2;
  left: 11px;
  transform: scale(0);
  transition: all 0.5s;
}

.seccion2-img:hover .img-hover {
  transform: scale(1);
}

#seccion2 .img-hover a {
  background: #fff;
  position: absolute;
  bottom: 38px;
  padding: 14px 16px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  width: 174px;
  text-transform: uppercase;
  font-weight: 600;
  color: #323232;
}

.seccion2 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 51px;
  top: 12px;
}

.seccion2 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 55px;
}

.seccion2 .title-small {
  text-align: left;
}

.seccion2-text {
  margin-bottom: 40px;
}
.seccion2-img {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

.seccion2-img img {
  height: auto;
  width: 80%;
  position: relative;
  z-index: 2;
}

.seccion2 .img-overlay {
  background: url("../images/dots.png");
  position: absolute;
  height: 100%;
  width: 82%;
  top: 34px;
  z-index: 1;
  transition: all 0.5s;
  left: 42px;
}

.seccion2 .skills {
  max-width: 80%;
}

.seccion2 .skills-content .progressbar-area h6 {
  margin-bottom: 21px;
  font-weight: 500;
  color: #6e6e6e;
  font-size: 15px;
}

.seccion2 .skills .progress-bar {
  background-color: #cbcbcb;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #fff;
  box-shadow: none;
  font-size: 10px;
  line-height: 20px;
}

.seccion2 .skill-category {
  max-width: 80%;
  margin: 0 auto;
}

.seccion2 .skills .progress {
  overflow: visible;
  height: 9px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid #cbcbcb;
  padding: 2px;
}

.seccion2 .skills .progressbar-area h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.seccion2 .skills .progress-bar {
  width: 0%;
}
.seccion2 .skills .progress-bar span {
  position: absolute;
  top: -31px;
  right: -20px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  background-color: #555;
  line-height: 21px;
  width: 36px;
}

.seccion2 .skills .progress-bar > span::before {
  position: absolute;
  bottom: -4px;
  left: 12px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  background-color: #555;
}

/*-----------------seccion 3-----------------*/

.imgBg .seccion3 {
  /*background: url("../images/fondos/fondo3.jpg");
  background-size: cover;*/
  background-color: #060818; /*color de fondo de la seccion 3*/
  text-align: center;
  color: #383838;
  /*valores entre 0-1 cambia la opacidad del color o imagen de fonfo (ultimo cero)*/
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0);
}

.vantaBg .seccion3 {
  background: #1e1e1e;
  text-align: center;
  color: #383838;
}

.seccion3 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 40px;
  top: 12px;
}

.seccion3 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 41px;
}

.seccion3 .seccion3-content {
  padding: 0 20px;
}

.s3{
  background-color: #0e1726;
  border-radius: 5px;
}

.seccion3-header {
  padding-bottom: 16px;
}

.seccion3 .seccion3-content span{
  padding: 35px 15px;
  background-color: rgba(6,8,24,0.8);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.seccion3 .seccion3-content span i {
  font-size: 22px;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 31px;
  width: 56px;
  height: 56px;
  line-height: 53px;
  transition: all 0.5s;
}

.seccion3 .seccion3-content .content-title {
  font-size: 18px;
  margin-top: 28px;
  margin-bottom: 12px;
  font-weight: 700;
}

.seccion3-item {
  padding-bottom: 30px;
  transition: all 0.5s;
  padding-top: 30px;
  margin-top: 14px;
  color: #fff;
 background: hsla(191, 75%, 60%, 1);

background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(198, 100%, 24%, 1) 100%);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
  margin-bottom: 20px;
}
.seccion3-item:hover {
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  color: #000;
  border-radius: 5px;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.seccion3-item:hover span i {
  color: #000;
  border: 2px solid #000;
  background: #fff;
}

/*-----------------seccion4 section-----------------*/

.imgBg .seccion4{
 /* background: url("../images/seccion4Bg.jpg");
  background-size: cover;*/
  background-color: #555;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.vantaBg .seccion4{
  background: #474747;
}

.seccion4 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 45px;
  top: 12px;
}

.seccion4 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 47px;
}

.seccion4 .seccion4-content {
  padding: 0 20px;
}

.seccion4-header {
  padding-bottom: 16px;
}

.education, .experience {
  border-left: 1px solid #999;
  padding-top: 20px;
  margin-top: 20px;
}

.seccion4-item {
  margin-bottom: 24px;
  margin-left: 20px;
  position: relative;
}

.seccion4-item::before {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  left: -27px;
  border-radius: 20px;
  top: 6px;
}

.res-title {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0px;
}

.res-year {
  background: #fff;
  width: 100px;
  text-align: center;
  color: #000;
  padding: 2px 0px;
  margin-bottom: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.res-year::before {
  content: '';
  width: 38px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  left: -25px;
}
/*-----------------------seccion5 section-----------------*/

.imgBg #seccion5 {
  /*background: url(../images/seccion5Bg.jpg);
  background-size: cover;*/
  background-color: #222;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.vantaBg #seccion5 {
  background: #1e1e1e;
}


.seccion5 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 29px;
  top: 12px;
}

.seccion5 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 34px;
}

.seccion5 .seccion5-content {
  padding-top: 24px;
}

.seccion5-content-head ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 4px;
  font-weight: 600;
  color: #fff;
  margin: 0px 16px;
  transition: all 0.2s;
  font-size: 14px;
  padding-top: 0px;
}

.seccion5-content-head ul li:hover {
  color: #ddd;
}

.seccion5 .mixitup-control-active {
  color: #fff !important;
  border-bottom: 2px solid #fff;
}

.seccion5 .mix {
  display: inline-block;
}

.seccion5-item {
  position: relative;
  margin-bottom: 20px;
}

.seccion5-content-items .row {
  margin-right: 0px;
  margin-left: 0px;
}

.seccion5-img {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.seccion5-img img {
  transition: all 0.5s;
  height: auto;
  width: 100%;
}

.seccion5-content-head {
  text-align: center;
  margin-bottom: 56px;
}

.seccion5-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
}

.seccion5-item:hover .seccion5-overlay {
  visibility: visible;
}

.overlay-content {
  position: relative;
  height: 100%;
}

.seccion5 .overlay-content-item {
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  transition: all 0.5s;
  opacity: 0;
}

.seccion5-item:hover .overlay-content-item {
  top: 20%;
  opacity: 1;
}

.seccion5-overlay .category {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.seccion5-overlay .magnify-icon {
  height: 200px;
  width: 40px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.25s;
  position: relative;
}

.seccion5 .magnify-icon p {
  background: #000;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.seccion5-overlay .magnify-icon p:hover {
  background: #5f5f5f;
}

.seccion5-overlay .magnify-icon p span i {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
}
/*---------------------Video section----------------*/
.imgBg .seccion6 {
  /*background: url(../images/seccion6Bg.jpg);
  background-size: cover;*/
  background-color: #222;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.vantaBg .seccion6 {
  background: #474747;
  text-align: center;
}

.seccion6 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 13px;
  top: 12px;
}

.seccion6 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 16px;
}

.seccion6-header {
  margin-bottom: 16px;
}

.seccion6 .seccion6-content {
  padding-top: 28px;
}

.seccion6-title {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.seccion6-item {
  max-width: 420px;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
  padding: 16px;
}

.seccion6-item p {
  color: #dedede;
  margin-top: 4px;
}

.seccion6-arrow {
  width: 1px;
  height: 34px;
  border-left: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2px;
}

.seccion6-arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -1px;
  left: -7px;
}

.seccion6 .mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #fff;
  opacity: 0.6;
  margin: 0 auto;
  animation: rotateplane 1.2s ease-in-out infinite;
}

.seccion6 .video {
  text-align: center;
  color: #e7e7e7;
}

.seccion6 .video-area {
  background: url("../images/video-bg.jpg");
  padding: 150px 0;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.seccion6 .video-area span i {
  font-size: 32px;
  color: #fefefe;
  line-height: 47px;
  text-align: center;
  padding-left: 7px;
}

.seccion6 .video-area .video-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 28px;
  background: #686868;
  border: 7px solid rgba(29, 29, 29, 0.2);
}

.seccion6 .video-area h5 {
  color: #e7e7e7;
  padding-top: 7px;
  font-weight: 500;
}

/*-------------------seccion 7---------------*/

.imgBg #seccion7 {
  /*background: url(../images/testimonialBg.jpg);
  background-size: cover;*/
  background-color: #555;
  color: #383838;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.vantaBg #seccion7 {
  background: #1e1e1e;
  color: #383838;
}

.seccion7 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 36px;
  top: 12px;
}

.seccion7 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 40px;
}

.seccion7 .client-area {
  padding-top: 28px;
}

.seccion7 .sub-header {
  color: #fff;
}

.seccion7 .seccion7-header {
  padding-bottom: 16px;
}

.seccion7 .seccion7-title h3 {
  color: #e7e7e7;
}

.seccion7 #owl-demo-seccion7 .item {
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s;
  max-width: 850px;
  margin: 0 auto;
  background: #e9e9e9;
  margin: 0 20px;
  border-radius: 0px;
  transition: all 0.5s;
}

.seccion7 #owl-demo-seccion7 .item:hover {
  background: #383838;
  color: #fff;
}
.seccion7 .owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  padding: 4px 11px;
  background: #000;
  border-radius: 0px;
}

.seccion7 .client-img img {
  width: 96px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 7px;
  border-radius: 70px;
  border: 4px solid rgba(102, 102, 102, 0.2);
}

.seccion7 .quote-text {
  padding: 36px;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.seccion7 .quote-text {
  padding: 24px;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.seccion7 .owl-theme .owl-controls .owl-page span {
  border-radius: 0px;
  background: #ccc;
}

.seccion7 .owl-theme .owl-controls .active span {
  background: #fff;
  opacity: 0.5;
}

.seccion7 .owl-theme .owl-controls .owl-page span {
  background: #fff;
  opacity: 1;
}

.seccion7 .name {
  font-weight: 800;
  padding-top: 12px;
}

.seccion7 .client-img {
  padding-top: 32px;
}

.seccion7 .client-identity {
  margin-bottom: 10px;
}

/*-----------------seccion 8-----------------*/
.imgBg #seccion8 {
  /*background: url(../images/seccion8Bg.jpg);
  background-size: cover;*/
  background-color: #222;
  color: #e3e3e3;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.vantaBg #seccion8 {
  background: #474747;
  color: #e3e3e3;
}

.seccion8 .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 38px;
  top: 12px;
}

.seccion8 .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 40px;
}
.seccion8-header {
  padding-bottom: 16px;
}

.seccion8-title {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
}

.seccion8-detail {
  font-size: 13px;
  color: #a1a1a1;
  padding-bottom: 10px;
  padding-top: 8px;
}

.seccion8-detail span {
  color: #bcbcbc;
  padding-right: 2px;
  font-weight: 600;
}

.seccion8-description {
  margin-bottom: 12px;
  margin-top: 2px;
}

.seccion8-content {
  padding-top: 28px;
}

.seccion8 .read-more {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
  display: block;
}

.seccion8 .owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  padding: 4px 11px;
  background: #000;
  border-radius: 0px;
}

.seccion8 .owl-nav {
  margin-top: 30px;
}

/*------------------contact section-------------*/
.imgBg .contact {
  /*background: url("../images/contactBg.jpg");
  background-size: cover;*/
  background-color: #0D1321;
  color: #383838;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.s9{
  background-color: #0E1726;
  padding: 15px;
  border-radius: 5px;
}

.vantaBg .contact {
  background: #1e1e1e;
  color: #383838;
}

.contact .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 40px;
  top: 12px;
}

.contact .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 42px;
}

.contact .section-title {
  color: #fff;
}

.contact-content {
  padding-top: 28px;
}

.contact-detail {
  background: #E2C391;
  padding: 36px 40px;
  border: 2px solid #F7C548;
  border-radius: 5px;
}

.contact-header {
  padding-bottom: 16px;
}
.contact .contact-form-area {
  background: #fff;
  padding: 30px 40px;
}

.contact #form-name,
.contact #form-email,
.contact #form-subject {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  background: #fff;
  border: none;
  margin-top: 12px;
  border-bottom: 1px solid #d8d8d8;
}

.contact .contact-text {
  padding-bottom: 10px !important;
}

.contact textarea {
  width: 100%;
  height: 150px;
  background: #fff;
  border: none;
  padding-top: 8px;
  border-bottom: 1px solid #d8d8d8;
}

.contact-detail h6 {
  margin-bottom: 16px;
  color: #3c3c3c;
  margin-top: 5px;
  font-weight: 700;
}

.contact-detail p span {
  font-weight: 700;
  padding-right: 2px;
}

.contact-detail .adress-loc {
  font-weight: 400 !important;
}

.contact-detail p {
  margin: 16px 0px;
}

.contact-detail p i {
  color: #3f3f3f;
  font-size: 20px;
  padding-right: 12px;
  width: 30px;
}

.contact-detail .social-icons a i {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  width: 32px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
}

.contact-detail .social-icons a i {
  background: #000;
}

.contact-detail .social-icons a i:hover {
  background: #4b4b4b;
}

.contact-detail .social-icons p {
  font-weight: 600;
  font-size: 18px;
  padding-top: 8px;
}

.contact #contact-submit {
  margin-top: 28px;
  padding: 10px 42px;
  border: 0px;
  margin-bottom: 4px;
  float: left;
}

.contact .result {
  color: #111;
  margin-top: 10px;
}

.result p {
  text-align: left;
  display: block;
  width: 100%;
  clear: left;
  padding-top: 10px;
}

/*---------------footer-------------*/
footer {
  padding-top: 68px;
  margin-bottom: -70px;
}

footer .copyright p {
  text-align: center;
  color: #ddd;
  font-weight: 500;
}


/*se puede agregar una clase antes de :: para modificar el scroll de un div o algo mas*/
::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #F90; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
